ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

body{
  margin: 0px;
}

.logo {
  height: 60px;
  padding-left: 100px;
}

.butt {
  padding-top: 20px;
  padding-right: 30px;
}

.button {
  height: 50px;
  float: right;
  background: #1994DB;
  margin-left: 15px;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  float: right;
  margin: 10px 10px;
}