ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

body{
  margin: 0px;
}

.logo {
  height: 60px;
  padding-left: 160px;
  margin-top: 5px;
}

.button {
  height: 50px;
  float: right;
  margin-left: 15px;
}

.InviteButton {
  background: #1994DB;
  border: solid 1px transparent;
  border-radius: 2px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 190px;
  margin-left: 20px;
  cursor: pointer;
  float: right;
  font-family: "Roboto";
}

.InviteButton:hover {
  background: #000000;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  float: right;
  margin: 10px 10px;
}