ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

/* li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#1994DB;
}

.active {
  background-color: #4CAF50;
} */

body{
  margin: 0px;
}

.logo {
  height: 60px;
  padding-left: 100px;
}

.butt {
  padding-top: 20px;
  padding-right: 30px;
}

.button {
  height: 50px;
  float: right;
  background: #1994DB;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  float:right;
  padding-top: 8px;
  padding-right: 10px;
}