.Form {
  height: 50px;
  width: 45%;
  margin-left: 170px;
  float: left;
  font-family: "Roboto";
  border-width: 1%;
}

.Submit {
  height: 56px;
  width: 5%;
  float: left;
  font-family: "Roboto";
  border-width: 1%;
}

.placeholder {
  padding-top: 30px;
  font-family: "Roboto";
}

.vertPlace {
  width: 50%;
  padding-bottom: 100px;
}