.Stopwatch {
  width: 13%;
  float: left;
  margin-left: 40px;
  font-size: 40px;
  margin-top: 5px;
  font-family: "Roboto";
}

button:hover {
  background-color: rgb(184, 229, 255);
}

.Stopwatch-display {
  font-size: 35px;
  font-family: "Roboto";
}

.start {
  background-color: #EDF2F7;
  float: left;
  width: 7%;
  border: solid 0.1px transparent;
  border-radius: 0.1px;
}

.finish {
  margin-top: 30px;
}

.Icon {
  float: left;
  width: 5%;
}

.breakText {
  width: 10%;
  height: 0%;
}