.text1 {
  float: left;
  width: 50%;
  margin-left: 14%;
  font-family: "Roboto-Italic";
  font-weight: 50;
  color: rgb(124, 124, 124);
  font-size: 15px;
}

.text2 {
  float: right;
  width: 27%;
  font-family: "Roboto-Italic";
  font-weight: 50;
  color: rgb(124, 124, 124);
  font-size: 15px;
}