body {
  background-color: #EDF2F7;
  opacity: 1;
}

.onboarding {
  align-items:'center';
  justify-content:'center';
  margin-left: 45%;
  width: 250px;
  margin-top: 14%;
}

.text {
  align-items: center;
  padding-left: 43%;
  font-family: "Roboto";
}

@font-face {
  font-family:"Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}